.content-spinner-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #e2e7ee80;
  display: flex;
  justify-content: center;
  align-items: center;

  .lds-ripple {
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #FF3800;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
}

@keyframes lds-ripple {
  0% {
    top: 58px;
    left: 58px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 58px;
    left: 58px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 58px;
    left: 58px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 108px;
    height: 108px;
    opacity: 0;
  }
}
