.home-page {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  background: rgba(28, 53, 83, 0.3);
  max-width: 650px;
  @media (min-width: 767px) {
    max-width: 550px;
  }
}

.content-form {
  background: #E3E8EF;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 6px 62px rgba(0, 0, 0, 0.3);
  .header-form {
    padding: 25px 20px 0;

  }

  .body-form {
    padding: 25px 20px;
    min-height: 470px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: 767px) {
      padding: 25px 50px;
    }
    .content-question-label {
      position: absolute;
      top: 20px;
      width: 87%;
      @media (min-width: 767px) {
        width: 400px;
      }
      .back {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 0px;
        @media (min-width: 767px) {
          width: 25px;
          height: 25px;
          left: -20px;
          cursor: pointer;
        }
        img {
          width: 100%;
        }
      }
  
      .question-label {
        font-weight: 700;
        color: #202F54;
        text-align: center;
        font-size: 14px;
        margin: 0;
        @media (min-width: 767px) {
          font-size: 18px;
        }
        padding: 0 24px;
      }
    }

    .content-search {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 470px;
      .searching-animate {
        width: 100%;
        display: block;
        @media (min-width: 767px) {
          width: 80%;
          margin: 0 auto
        }
      }
      .animate {
        animation-duration: 1.2s;
        animation-name: loadingImg;
        animation-iteration-count: infinite;
      }
      .label-search {
        font-size: 14px;
        color: #202F54;
        font-weight: 600;
        margin: 15px 0 0;
        text-align: center;
        display: block;
        @media (min-width: 767px) {
          margin: 35px 0 0;
        }
      }
    }
  }

  .footer-form {
    background: #D0DBE7;
    padding: 15px 20px;
    border-radius: 0 0 10px 10px;
    .paragraph {
      font-size: 12px;
      color: #1C3553;
      text-align: center;
      display: block;
    }
  }
}

@keyframes loadingImg {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}